@font-face {
    font-family: 'THSARABUNNEW_0';
    src: url('../Font/THSARABUNNEW_0.TTF') format('truetype');
}
body {
    /*background-image: url(../Image/blurred-blue-background.jpg  );
    background-repeat: no-repeat;
    background-size: cover;*/


    /*background-attachment: fixed;*/
    background-color: #e0e0e0;
}
/*.all_div {
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    transition: opacity linear 1s;
}*/
.all_div {
    opacity: 1;
    transition: opacity ease 0.25s;
}

.login_popup {
    /*background-image: url(../Image/blurred-blue-background.jpg  );
    background-repeat: no-repeat;
    background-size: cover;*/
    width: 100vw;
    height: 100vh;
}

.login_popup_in {
    /*background-image: url(../Image/blurred-blue-background.jpg  );
    background-repeat: no-repeat;
    background-size: cover;*/
    width: 500px;
    height: 500px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    overflow: hidden;

    background-color: #ffffff;
    border: none;
    border: 32px solid #00a2e8;
    /*border: 32px solid #ffffff;*/
    border-radius: 1000px;
    box-shadow: #ffffff 0px 0px 50px;

    /*-webkit-animation: k1 0.5s;
    -moz-animation: k1 1.5s;*/
    transition: border ease 0.25s;
}
@-webkit-keyframes k1 {
    0% {
        box-shadow: #00a2e8 0px 0px 0px;
    }
    100% {
        box-shadow: #00a2e8 0px 0px 200px;
    }
}
@-moz-keyframes k1 {
    0% {
        background-color: #FFFFFF;
        opacity: 0;
        width: 0px;
        height: 0px;
        border: 1px solid #FFFFFF;
    }
    50% {
        background-color: #FFFFFF;
        opacity: 0.5;
        width: 64px;
        height: 64px;
        border: 16px solid #00a2e8;
    }
    100% {
        opacity: 1;
        width: 500px;
        height: 500px;
        border: 32px solid #00a2e8;
    }
}
@-webkit-keyframes k2 {
    0% {
        display: none;
        opacity: 0;
    }
    50% {
        display: block;
        margin-top: 40px;
        opacity: 0;
    }
    100% {

        opacity: 1;
    }
}
@-moz-keyframes k2 {
    0% {
        display: none;
        opacity: 0;
    }
    50% {
        display: block;
        margin-top: 50px;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.login_popup_div_sec {
    
    margin: 0px auto;
    margin-top: 20px;
    -webkit-animation: k2 1s;
    -moz-animation: k2 1s;
    /*box-shadow: #808080 0px 5px 5px;*/
}

.login_popup_div_sec_header {
    /*background-color: rgba(255,255,255,0.25);*/
    padding: 0px 25px;
    text-align: center;
    font-weight: bold;

}
.login_popup_div_sec_header span {
    /*margin-left: 20px;*/
    color: #FFFFFF;
    color: #000000;
 font-size: 24px;
    /*text-shadow: 1px 1px 1px #000000;*/
}
.login_popup_div_sec_in {
    /*background-color: rgba(128,128,128,0.6);*/
    padding: 20px 20px;
    
}
.login_popup_div_sec_in span {
    /*color: #FFFFFF;
    text-shadow: 1px 1px 1px #808080;*/
    color: #000000;

}

.login_default_textbox {
    width: 150px;
    margin: 2px 0;
    padding: 3px 20px;
    border: none;
    background-color: #ffffff;
    border: 1px solid #00a2e8;
    font-family: THSARABUNNEW_0;
    font-size: 20px;
    
    /*box-shadow: rgba(0,162,232,0.8) 1px 1px 10px;
    box-shadow: rgba(0,0,0,0.5) 1px 1px 5px;*/
}
.login_default_dropdown {
    width: 190px;
    margin: 2px 0;
    padding: 3px 20px;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #00a2e8;
    font-family: THSARABUNNEW_0;
    font-size: 20px;
    /*box-shadow: rgba(0,162,232,0.8) 1px 1px 10px;
    box-shadow: rgba(0,0,0,0.5) 1px 1px 5px;*/
}
#Label1 {
    color: #00a2e8;
}
.cerror {
    
}
.login_column0 {
    text-align: left;
    padding-right: 10px;
}
.login_column1 {
    text-align: left;
}
table {
    margin: 0 auto;
}
.login_button {
    text-decoration: none;
    color: #000000;
    background-color: #f0f0f0;
    text-align: center;
    width: 150px;
    margin: 2px 0;
    padding: 3px 20px;
    display: inline-block;

    /*box-shadow: rgba(0,0,0,0.5) 1px 1px 5px;*/
    transition: background-color ease 0.25s;
    /*text-shadow: 1px 1px 1px #000000;*/
}
.login_button:hover {
    color: #000000;
    background-color: rgba(255,255,255,0.5);
    background-color: #e0e0e0;
    /*text-shadow: 1px 1px 1px #000000;*/
}
.login_button {
    
}
#Panel1 {
    text-align: center;
}
