.wrapper {
    width: auto;
    background: none;
}
body {
    
}
.mp {
    
    
}
.master_light_page_header {
    margin-top: 40px;
}
.c1 {
    padding: 20px;
    /*background-color: #202020;*/
    margin: 0 auto;
    text-align: center;
    /*font-size: 0;*/
    margin: 20px 0px;
    /*background-image: url(../Image/bg2.jpg);
    background-size: cover;*/
}
.c1 a {
    text-decoration: none;
    text-align: left;
    color: #000000;
}
.c1 a:hover {
    background-color: #e0e0e0;
    border-radius: 4px;
}

.c1 img {
    height: 200px;
}


.div_sec {
    background-color: #202020;
    margin: 0;
}

.div_sec_in {
    background-color: rgba(128,128,128,0.6);
    padding: 10px 10px;
    padding-bottom: 0px;
    /*width: 80%;*/
    /*overflow-x: scroll;*/
}

.div_sec_in2 {
    width: 2500px;
}

.div_sec_in span {
    color: #FFFFFF;

    text-shadow: 1px 1px 1px #000000;
}

.div_sec img {
    height: 240px;
    padding: 0;
    margin: 0;
    box-shadow: #000000 0px 1px 10px;
}

#sec1 {
    background-color: #202020;
    /*background-image: url("Image/333.jpg");
            background-size: cover;
            background-repeat: no-repeat;*/
}

.para_group {
    margin-top: 20px;
    width: 1024px;
    margin: 0 auto;
}

.para {
    /*width: 1024px;
            margin: 0 auto;*/
    padding-left: 100px;
    /*color: #FFFFFF;*/
}

.para_center {
    /*width: 1024px;
            margin: 0 auto;*/
    text-align: center;
    /*color: #FFFFFF;*/
}
#ContentPlaceHolder1_div_update_history {
    margin-left: 100px;
    /*color: #FFFFFF;*/
}
#ContentPlaceHolder1_div_announce {
    margin-left: 100px;
    /*color: #FFFFFF;*/
}
.div_update_history_item {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 20px;
}