.mp {
    padding: 20px;
    background-color: #f0f0f0;
    min-height: 1024px;
}
.master_clean_div_sec_in a {
    text-decoration: none;
    color: #ffffff;
}
.master_clean_div_sec_in a:hover {
    text-decoration: underline;
}