.wrapper {
    width: auto;
}
.mp {
    background-color: #f0f0f0;
}

.error_text {
    font-size: 32px;
}

.delete {
    background-image: url("../Image/anime_p1.png");
    background-size: cover;
}

.t1 td {
    vertical-align: top;
}

.auto-style83 {
    width: 100px;
    text-align: right;
}

.auto-style84 {
    width: 120px;
}

.auto-style85 {
    width: 120px;
    text-align: right;
}
