.wrapper {
    width: auto;
}

.wrapper {
    /*width: auto;
            background-color: #f0f0f0;*/
}

.mp {
    padding: 20px;
    background-color: #f0f0f0;

}

.leave_button_div ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 8px;
}

.leave_button_div li {
    display: inline;
    /*555*/
}

.leave_button_div a {
    text-decoration: none;
    display: inline;
}



.leave_paper_pull {
    text-decoration: none;
    display: inline;
    padding: 3px 20px;
    margin: 0 0px;
    width: 60px;
    color: #202020;
    background-color: #e0e0e0;
    border-radius: 24px;
}

.leave_paper_pull:hover {
    color: #000000;
    background-color: #c0c0c0;
}

.leave_grid_view {
    margin: 0 auto;
    text-align: center;
    border: 1px solid #808080;
}

.leave_sec1 {
    padding: 20px 0px;
    margin: 20px 0;
    border-bottom: 1px solid #808080;
}

.leave_sec2 {
    padding: 20px 0px;
    margin: 20px 0;
    border-bottom: 1px solid #808080;
}

.leave_sec3 {
    padding: 20px 0px;
    margin: 20px 0;
    border-bottom: 1px solid #808080;
}

.error_text {
    font-size: 32px;
}

.auto-style58 {
    width: 180px;
    font-weight: bold;

}

.auto-style64 {
    width: 298px;
    height: 28px;
}

.auto-style67 {
    width: 298px;
}

.auto-style69 {
    width: 298px;
    height: 95px;
}

.auto-style77 {
    width: 317px;
}

.auto-style78 {
    width: 120px;
    text-align: right;
    height: 29px;
}

.auto-style79 {
    width: 317px;
    height: 29px;
}

.auto-style83 {
    width: 50px;
    text-align: right;
}

.auto-style95 {
    width: 120px;
    text-align: right;
    vertical-align: top;
    font-weight: bold;
    margin-right: 10px;
    display: inline-block;
}

.auto-style96 {
    width: 180px;
    height: 33px;
    font-weight: bold;
}

.auto-style97 {
    height: 33px;
}
