/*1*/
@font-face {
    font-family: 'WDB_Bangna';
    src: url('../Font/WDB_Bangna.ttf') format('truetype');
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}

body {
    /*background-image: url("../Image/anime2.jpg");
    background-size: 100% auto;
    background-attachment: fixed;*/
    font-family: WDB_Bangna;
    background-color: #f0f0f0;
}

form {
    min-height: 100%;
}
.wrapper {
    height: auto !important;
    height: 100%;
    /*margin: 0 auto -200px;*/
    margin: 0 auto -120px;
    /*width: 1024px;*/
    min-height: 100%;
    padding-bottom: 10px;
    width: 1024px;
}


.master_content_place_holder {
    background-color: rgba(255,255,255,1);
    margin: 152px 0;
    margin: 110px 0;
    margin-top: 32px;
    margin-top: 0px;
    min-height: 70vh;
}

.master_login {
    /*background-color: #ffffff;*/
    /*box-shadow: 0px 0px 8px rgba(204,41,57,1);*/
    height: 32px;
    position: fixed;
    width: 100%;
    background-color: rgba(255,255,255,0.8);
    background-color: #FFFFFF;
    
    z-index: 999;
    border-bottom: 1px solid #00a2e8;
    
    /*background-image: url("../Image/ef333.jpg");
    background-position: center;*/
    /*background-position-y: 750px;*/
    /*background-attachment: fixed;*/
    /*background-size: 100% auto;*/
}
.master_login_pre_in {
    width: 1024px;
    margin: 0 auto;
}
.master_login_in {
    
    height: 32px;
}

.master_login_left {
    float: left;
    height: 32px;
    line-height: 32px;
}
.master_login_right {
    float: right;
    height: 32px;
    line-height: 32px;
}

.master_login ul {
     list-style-type: none;
     padding: 0;
 }

.master_login li {
    display: inline;
}
/**/
.master_login_right a {
    /*text-decoration: none;
    display: inline;
    padding: 1px 20px;
    margin: 0 20px;
    margin-top: 5px;
    width: 60px;
    color: #FFFFFF;
    background-color: #00a2e8;
    border-radius: 24px;
    transition: background-color ease 0.25s text-decoration ease 0.25s;*/
    text-decoration: none;
    background-color: #00a2e8;
    height: 32px;
    min-width: 100px;
    padding: 0 20px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color ease 0.25s;
    display: inline-block;
}

.master_login_right a:hover {
    background-color: #65c1e9;
}
.master_login_right a:active {
    background-color: #3d7288;
}
/*
.master_login button {
    text-decoration: none;
    display: inline;
    padding: 0 20px;
    margin: 0;
    height: 32px;
    color: #000000;
    background-color: #e0e0e0;
    border: none;
    transition: color 0.25s ease, background-color 0.25s ease;
}

.master_login button:hover {
    color: #ffffff;
    background-color: #404040;
}
*/
.master_login_name {
    color: #808080;

}
.master_login_popup {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    float: right;
    z-index: 998;

}
.master_login_popup_in {
    background-color: #00a2e8;
    width: 640px;
    height: 360px;
    margin: auto;
    margin-top: 100px;
    background-image: url(../Image/anime_p1.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    border-radius: 32px;
    
}
.master_login_popup_div_sec {
    margin: 0px auto;
    /*box-shadow: #808080 0px 5px 5px;*/
}
.master_login_popup_div_sec_header {
    background-color: rgba(255,255,255,0.25);
    
    padding: 20px 25px;

    font-weight: bold;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
}
.master_login_popup_div_sec_header span {
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 32px;
    padding: 2px 50px;
 font-size: 24px;
    /*text-shadow: 1px 1px 1px #000000;*/
}
.master_login_popup_div_sec_in {
    /*background-color: rgba(128,128,128,0.6);*/
    padding: 20px 20px;
}
.master_login_popup_div_sec_in span {
    color: #FFFFFF;
    /*text-shadow: 1px 1px 1px #000000;*/
}
.master_login_popup_div_sec_in a {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #00b3ff;
    border-radius: 32px;
    padding: 2px 20px;
    transition: background-color ease 0.25s;
    /*text-shadow: 1px 1px 1px #000000;*/
}
.master_login_popup_div_sec_in a:hover {
    background-color: #0083bb;
    /*text-shadow: 1px 1px 1px #000000;*/
}



.master_header {
    background-image: url("../Image/bg5.jpg");
    background-position: center;
    /*background-position-y: 750px;*/
    /*background-attachment: fixed;*/
    background-size: 100% auto;
    text-align: left;
    /*padding: 20px 0px;*/
    /*padding-top: 40px;*/
    /*height: 170px;*/
    transition: background-color ease 0.25s;
    border-bottom: 1px solid #e0e0e0;
}
.master_header_over {
    background-color: rgba(255,255,255,0.9);
    
}
.master_header_pre_in {
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 0px;
    height: 75px;
    height: 100px;
    width: 1024px;
    margin: 0 auto;
    text-align: left;
}
.master_header_in {
    margin: 0 20px;
}
.master_header_in_img1 {
    float:right;
    height:100px;
}
.master_header_under_toggle {
    /*background-color: #00a2e8;
    height: 30px;
    width: 100px;
    margin: 1px 20px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 24px;
    cursor: pointer;
    transition: background-color ease 0.25s;
    display: inline-block;*/
    text-decoration: none;
    background-color: #00a2e8;
    height: 32px;
    min-width: 100px;
    padding: 0 20px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color ease 0.25s;
    display: inline-block;
}
.master_header_under_toggle:hover {
    background-color: #65c1e9;
}
.master_header_under_toggle:active {
    background-color: #3d7288;
}
.master_header_under {
    /*background-color: rgba(0,0,0,0.5);*/
    background-color: #00a2e8;
    text-align: center;
    
    background-image: url(../Image/blurred-blue-background.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    /*background-image: url(../Image/anime_p1.png);
    background-repeat: no-repeat;
    background-position: top right;*/

    /*background-size: contain;
    background-attachment: fixed;*/
    height: 100vh;
    display: none;
    /*margin-top: 1000px;
    display: block;*/
}
.master_header_under_in {
    background-image: url(../Image/anime_p2.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    /*background-color: #00a2e8;*/
    width: 1024px;
    height: 100vh;
    margin: 0 auto;
}
.master_header_under_in2 {
    background-color: rgba(0,0,0,0.25);
    padding: 20px;
    max-height: 85vh;
    border-bottom-left-radius: 48px;
    border-bottom-right-radius: 48px;
}
.master_header_under table {
    margin-top: 20px;
    margin-left: 50px;
}
.master_header_under_header {
    font-weight: bold;
    margin-left: 20px;
    display: inline-block;
    width: 200px;
    background-color: #00b3ff;
    background-color: #c0c0c0;
    background-color: #00a2e8;
    border-radius: 24px;
    padding: 0 20px;

}
.master_header_under td {
    font-size: 16px;
    text-align: left;

}
.master_header_under_left {
    
    text-align: left;
    
}

.master_header_under a {

    display: inline-block;
    margin: 0 20px;

    border-radius: 24px;
    transition: background-color ease 0.25s text-decoration ease 0.25s;

    text-decoration: none;

    color: #FFFFFF;
    padding: 0 20px;

    width: 200px;
    transition: background-color ease 0.25s;
    /*background-color: rgba(0,0,0,0);*/
    /*text-shadow: 1px 1px 1px #808080;*/
}
.master_header_under a:hover {
    background-color: rgba(255,255,255,0.25);
}
.master_header_under img {
    float:right;
    background-color: #00a2e8;
    height: 95vh;
    
}
.master_header_label {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}
.master_header_label2 {
    font-size: 16px;
    font-weight: bold;
    color: #00a2e8;
    color: #808080;
}
.master_header_label3 {
    font-size: 16px;
    font-weight: bold;
    color: #808080;
}
.master_header_label4 {
    font-size: 24px;
    font-weight: bold;
    color: #FF0000;
}
.master_nav {
    background-color: #000000;
    margin: 0;
    line-height: 24px;
    padding-top:6px;
    text-align: center;
    background-color: #e0e0e0;
    background-color: #00caff;
    background-color: #FFFFFF;
    background-color: #00a2e8;
    /*border-bottom: 1px solid #00a2e8;*/
}

.master_nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.master_nav li {
    display: inline;
}

.master_nav a {
    text-decoration: none;
    display: inline;
    padding: 3px 20px;
    margin: 0 1px;

    color: #FFFFFF;
    background-color: #00a2e8;
    
    transition: background-color 0.25s ease;
}
.master_nav_multi:after {
	content: ' v';
    
}


.master_nav a:hover {
    background-color: #65c1e9;
}


@keyframes key_master_nav_a_in {
    from {
        color: #808080;
        background: #000000;
        text-shadow: 0px 0px 0px #000000;
    } 
    to {
        color: #ffffff;
        background: #202020;
        text-shadow: 1px 1px 2px #404040;
    }
}
@keyframes key_master_nav_a_out {
    from {
        color: #ffffff;
        background: #202020;
        text-shadow: 1px 1px 2px #404040;
    } 
    to {
        color: #808080;
        background: #000000;
        text-shadow: 0px 0px 0px #000000;
    }
}

/*-START-A--------------------------------*/
.master_nav ul ul {
    display: none;
    margin-top: 6px;
}

.master_nav ul li:hover > ul {
	display: block;
}
.master_nav ul {

	padding: 0px 20px;

	list-style: none;
	position: relative;
	display: inline-table;
}
.master_nav ul:after {
	content: "";
    clear: both;
    display: block;
}
.master_nav ul li {
	float: left;

}
.master_nav ul li:hover .nav_a {

}

.master_nav ul li .nav_a {
	display: block;
    padding: 0px 20px;
	color: #000000;
    text-decoration: none;
}
.master_nav ul ul {

    border-radius: 0px;
    padding: 0;
	position: absolute;
    top: 100%;
}
.master_nav ul ul li {
	float: none; 

	border-bottom: 1px solid #575f6a;
	position: relative;

}
.master_nav ul li ul li .nav_a {
    padding: 3px 20px;
    text-align:left;
}
.master_nav ul ul li .nav_a {
    margin-top: -1px;
	padding: 3px 20px;
	color: #FFFFFF;
    background-color: #00a2e8;
}	
.master_nav ul ul li .nav_a:hover {
    background-color: #65c1e9;

}
.master_nav ul ul ul {
	position: absolute;
    left: 100%;
    top:0;
}

/*-END-A------------------------------------*/



.master_footer {
    /*background: linear-gradient(#ffaf22, #ffc051);*/
    background-color: #202020;
    background-color: #e0e0e0;
    background-color: #00a2e8;
    /*background-color: #FFFFFF;*/
    text-align: center;
    /*box-shadow: 0px 0px 16px #c0c0c0;*/
    /*box-shadow: 0px 0px 8px #000000;*/
    padding: 20px 20px;
    /*background-image: url("../Image/bg4.jpg");
    background-position: center;
    background-attachment: fixed;*/
    /*background-size: 100% auto;*/
    /*border-top: 1px solid #00a2e8;*/
    border-bottom: 20px solid #006692;
    
}
.master_footer a {
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #006591;
    text-decoration: none;
}
.master_footer a:hover {
    text-decoration: underline;
}
.master_footer_label {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    color: #FFFFFF;
    /*text-shadow: 1px 1px 1px #006591;*/
}

.master_footer_label2 {
    font-size: 14px;
    color: #404040;
    color: #F0F0F0;
    color: #FFFFFF;
    /*text-shadow: 1px 1px 1px #006591;*/
}
.master_footer_label3 {
    font-size: 14px;
    color: #909090;
    /*text-shadow: 1px 1px 1px #006591;*/
}
.master_footer_label4 {
    font-size: 14px;
    color: #FF0000;
    padding-bottom: 15px;
}
.master_footer_separate {
    margin: 0 auto;
    width: 1024px;
    height: 0px;
    /*background-color: #c0c0c0;*/
    /*border-top: 1px solid #00a2e8;
    border-bottom: 1px solid #65c1e9;*/
    border-bottom: 1px solid #808080;
}
.master_footer_under {
    background-color:#FFFFFF;
}
.master_footer_under_inner {
    width: 1024px;
    margin: 0 auto;
    height: 32px;
    background-color:#FFFFFF;
    text-align: left;
    font-weight: bold;
}

.dpl {
    background-color: #2270ff;
}
.dpl2 {
    background-color: #e0e0e0;
}
.dpl3 {
    background-color: #000000;
}
.dpl_green {
    background-color: #38a800;
}
.dpl_red {
    background-color: #ff0000;
}
.dpl_sred {
    background-color: #cc2939;
}
.dpl_sub_lime {
    background-color: #d6ff81;
}
.dpl_gray {
    background-color: #808080;
}
.dpl_blue {
    background-color: #00a2e8;
}
.dpl_7c {
    background: linear-gradient(to right, rgb(163,73,164),rgb(63,72,204),rgb(0,162,232),rgb(34,177,76),rgb(255,242,0),rgb(255,127,39),rgb(237,28,36));
}



.footer, .push {
    /*height: 100px; /* .push must be the same height as .footer */
}

/*--DEFAULT COMPONENT--*/

.master_default_button {
    text-decoration: none;
    display: inline;
    padding: 0px 20px;
    margin: 0px 0px;
    /*margin-top: 5px;*/
    /*width: 60px;*/
    border: none;
    color: #000000;
    background-color: #e0e0e0;
    border-radius: 24px;
    transition: color 0.25s ease, background-color 0.25s ease;
}

.master_default_button:hover {
    color: #ffffff;
    background-color: #00a2e8;
}
.master_default_button:active {
    color: #ffffff;
    background-color: #3d7288;
}
.master_default_textbox {
    border: 1px solid #C8C8C8;
    background-color: #FFFFFF;
    padding: 2px 10px;
    border-radius: 24px;
    transition: border ease 0.25s;
}
.master_default_textbox:hover {
    /*border: 1px solid rgb(0,162,232);*/
    border: 1px solid rgb(0,0,0);
}
.master_default_textbox:focus {
    /*border: 1px solid rgb(0,162,232);*/
    border: 1px solid rgb(0,0,0);
}
.master_default_textbox:disabled {
    background-color: #d0d0d0;
}
.master_default_textbox:disabled:hover {
    border: 1px solid rgb(192,192,192);
}
.master_default_textbox_multi_line {
    border: 1px solid #C8C8C8;
    background-color: #FFFFFF;
    padding: 2px 5px;
    border-radius: 12px;
    transition: border ease 0.25s;
}
.master_default_textbox_multi_line:hover {
    /*border: 1px solid rgb(0,162,232);*/
    border: 1px solid rgb(0,0,0);
}
.master_default_textbox_multi_line:focus {
    /*border: 1px solid rgb(0,162,232);*/
    border: 1px solid rgb(0,0,0);
}
.master_default_textbox_multi_line:disabled {
    background-color: #d0d0d0;
}
.master_default_textbox_multi_line:disabled:hover {
    border: 1px solid rgb(192,192,192);
}
.master_default_dropdown {
    border: 1px solid #C8C8C8;
    background-color: #FFFFFF;
    padding: 2px 5px;
    border-radius: 24px;
    transition: border ease 0.25s;
}
.master_default_dropdown:focus {
    /*border: 1px solid rgb(0,162,232);*/
    border: 1px solid rgb(0,0,0);
}
.master_default_dropdown:disabled {
    background-color: #d0d0d0;
}
.master_default_dropdown:disabled:hover {
    border: 1px solid rgb(192,192,192);
}
.master_default_div_sec {
    margin: 20px auto;
    box-shadow: #808080 0px 5px 5px;
}
.master_default_div_sec_header {
    background-color: rgba(128,128,128,0.8);
    padding: 20px 25px;
    font-weight: bold;
}
.master_default_div_sec_header span {
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #000000;
}
.master_default_div_sec_in {
    background-color: rgba(128,128,128,0.6);
    padding: 20px 20px;
}
.master_default_div_sec_in span {
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #000000;
}
.master_default_page_header {
    font-size: 32px;
    text-align: center;
}
.master_OAT_button {
    background-color: rgba(0, 114, 255, 0.90);
    background-repeat:repeat-x;
    border:1px solid #d1c7ac;
    text-shadow: 0px 0px 0px #000000;
    width: 60px;
    color: #FFFFFF;
    padding:3px;
    margin-right:4px;
    margin-bottom:8px;
    font-family:tahoma, arial, sans-serif;
    border-radius:10px;
    transition: color 0.5s ease, background-color 0.5s ease, text-shadow 0.5s ease;
}
.master_OAT_button:hover {
    /*color: rgb(0, 68, 255);
    background-color: #2edce8;
    text-shadow: 1px 1px 16px #ffffff;*/
    background-color: #65c1e9;
}
/*--tester--*/

