/*1*/
* {
    margin: 0;
}
html, body {
    height: 100%;
    
}

body {
    background-image: url("../Image/bg3.jpg");
    background-attachment: fixed;
    /*background-size: 100% auto;*/
}

form {
    min-height: 100%;
}
.wrapper {
    height: auto !important;
    height: 100%;
    /*margin: 0 auto -200px;*/
    margin: 0 auto -115px;
    width: 1024px;
    min-height: 100%;
    padding-bottom: 10px;
}

.master_content_place_holder {
    background-color: rgba(255,255,255,0.9);
    margin: 152px 0;
    margin-top: 32px;
    min-height: 70vh;
}

.master_login {
    
    background-color: #F0F0F0;
    box-shadow: 0px 5px 32px rgba(255,255,255,1);
    /*box-shadow: 0px 0px 16px rgb(0,162,232);*/
    

    /*background-color: rgba(0,0,0,0.5);
    box-shadow: 0px 0px 16px rgb(0,0,0);*/
    position: fixed;
    width: 100%;
    z-index: 999;

    
}

.master_login_right {
    float: right;
}

.master_login ul {
    
     list-style-type: none;
     margin: 0;
     padding: 0;
     margin-top: 8px;
 }

.master_login li {
    display: inline;
    /*555*/
}

.master_login a {
    text-decoration: none;
    display: inline;
    padding: 5px 20px;
    margin: 0 20px;
    width: 60px;
    color: #c0c0c0;
    background-color: #000000;
    border-radius: 24px;
}

.master_login a:hover {
    color: #ffffff;
    background-color: #202020;
}

.master_login_name {
    color: #808080;

}

.master_header {
    background-image: url("../Image/bg4.jpg");
    background-position: center;
    background-position-y: 750px;
    
    background-color: #000000;
    text-align: center;
    padding: 20px 0px;
    padding-top: 64px;
}

.master_header_label {
    font-size: 48px;
    color: #ffffff;
    text-shadow: 0px 0px 8px rgba(0,0,0,0.9);
}
.master_header_label2 {
    font-size: 24px;
    color: #ffffff;
    text-shadow: 0px 0px 8px rgba(0,0,0,0.9);
}

.master_nav {

    /*background-color: #6ea2ff;*/
    background-color: #000000;
    /*background-color: rgba(0,0,0,0.9);*/
    padding: 5px 20px;
    text-align: center;
    box-shadow: 0px 0px 32px rgba(56,168,0,0.5);
}

.master_nav ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
 }

.master_nav li {
    display: inline;
}

.master_nav a {
    text-decoration: none;
    display: inline;
    padding: 10px 20px;
    margin: 0;
    width: 60px;
    color: #c0c0c0;
    /*background-color: #c17f00;*/
    /*background: linear-gradient(#518fff,#5e97ff);*/
    background-color: #000000;
    /*border-radius: 24px;*/
}

.master_nav a:hover {
    color: #ffffff;
    text-shadow: 1px 1px 2px #808080;
    /*background-color: #202020;*/
    /*background: linear-gradient(#ffa800,#f1aa25);*/
    /*background: linear-gradient(#518fff,#a1c3ff);*/
    /*background-color: #ee9d00;*/
}

/*-START-A--------------------------------*/
.master_nav ul ul {
    display: none;
}

.master_nav ul li:hover > ul {
	display: block;
}
.master_nav ul {
	/*background: #efefef; 
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); */
	
	padding: 5px 20px;
	/*border-radius: 10px;  */
	list-style: none;
	position: relative;
	display: inline-table;
}
.master_nav ul:after {
	content: "";
    clear: both;
    display: block;
}
.master_nav ul li {
	float: left;
}
.master_nav ul li:hover .nav_a {
	color: #c0c0c0;
}

.master_nav ul li .nav_a {
	display: block;
    padding: 1px 20px;
	color: #000000;
    text-decoration: none;
}
.master_nav ul ul {
	background: #ffffff;
    border-radius: 0px;
    padding: 0;
	position: absolute;
    top: 100%;
}
.master_nav ul ul li {
	float: none; 
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a;
	position: relative;
}
.master_nav ul li ul li .nav_a {
    width: 160px;
}
.master_nav ul ul li .nav_a {
	padding: 10px 20px;
	color: #fff;
}	
.master_nav ul ul li .nav_a:hover {
    color: #ffffff;
}
.master_nav ul ul ul {
	position: absolute;
    left: 100%;
    top:0;
}

/*-END-A------------------------------------*/

.master_footer {
    /*background: linear-gradient(#ffaf22, #ffc051);*/
    background-color: #eeeef1;
    text-align: center;
    /*box-shadow: 0px 0px 16px #c0c0c0;*/
    box-shadow: 0px -4px 16px rgba(0,0,0,0.5);
    padding: 20px;

    background-image: url("../Image/bg4.jpg");
    background-position: center;
    background-attachment: fixed;
    /*background-size: 100% auto;*/
    
}
.master_footer_label {
    font-size: 18px;
    color: #c0c0c0;
    text-shadow: 1px 1px 1px #000000;
}
.master_footer_label2 {
    font-size: 14px;
    color: #a0a0a0;
    text-shadow: 1px 1px 1px #000000;
}
.master_footer_label3 {
    font-size: 14px;
    color: #909090;
    text-shadow: 1px 1px 1px #000000;
}
.master_footer_label4 {
    font-size: 14px;
    color: #ffcc00;
    text-shadow: 1px 1px 1px #000000;
}


.dpl {
    background-color: #2270ff;
}
.dpl2 {
    background-color: #e0e0e0;
}
.dpl3 {
    background-color: #000000;
}
.dpl_green {
    background-color: #38a800;
}



.footer, .push {
    height: 120px; /* .push must be the same height as .footer */
}
