/*1*/
* {
    margin: 0;
}
html, body {
    height: 100%;
    
}

body {
    /*background-image: url("../Image/bg3.jpg");*/
    background-attachment: fixed;
    /*background-color: #d6ff81;*/

    
    /*background-size: 100% auto;*/

    /*background-color: #e9ffa3;*/
    background-color: #f0f0f0;
}

form {
    min-height: 100%;
}
.wrapper {
    height: auto !important;
    height: 100%;
    /*margin: 0 auto -200px;*/
    margin: 0 auto -120px;
    width: 1024px;
    min-height: 100%;
    padding-bottom: 10px;
}

.master_content_place_holder {
    background-color: rgba(255,255,255,1);
    margin: 152px 0;
    margin-top: 32px;
    min-height: 70vh;
}

.master_login {
    
    /*background-color: #F0F0F0;
    background-color: #f8ffeb;*/
    background-color: #ffffff;
    /*box-shadow: 0px 0px 32px rgba(255,255,255,1);*/
    /*box-shadow: 0px 0px 16px rgb(0,162,232);*/
    
    /*background-color: rgba(0,0,0,0.5);
    box-shadow: 0px 0px 16px rgb(0,0,0);*/
    /*box-shadow: 0px 0px 24px rgba(214,255,129,0.9);*/
    box-shadow: 0px 0px 8px rgba(204,41,57,1);


    position: fixed;
    width: 100%;
    z-index: 999;

    
}

.master_login_left {
    float: left;
    line-height:32px;
}
.master_login_right {
    float: right;
    height: 32px;
    line-height:32px;
}

.master_login ul {
    
     list-style-type: none;
     padding: 0;
     margin-top: 4px;
     margin-left: 4px;
     margin-right: -4px;
 }



.master_login li {
    display: inline;
    /*555*/
}

.master_login a {
    text-decoration: none;
    display: inline;
    padding: 5px 20px;
    margin: 0 20px;
    margin-top: 5px;
    width: 60px;
    color: #c0c0c0;
    background-color: #000000;
    text-shadow: 0px 0px 0px #000000;
    border-radius: 24px;
    transition: color 0.5s ease, background-color 0.5s ease, text-shadow 0.5s ease;
}

.master_login a:hover {
    color: #ffffff;
    background-color: #cc2939;
    text-shadow: 1px 1px 16px #ffffff;
}

.master_login_name {
    color: #808080;

}

.master_header {
    background-image: url("../Image/DORAEMON.jpg");
    background-position: center;
    /*background-position-y: 750px;*/
    /*background-attachment: fixed;*/
    background-size: 100% auto;
    
    background-color: #000000;
    background-color: #202020;
    text-align: center;
    padding: 20px 0px;
    padding-top: 64px;
    transition: background-image 1s ease, opacity 1s ease;
}
.master_header:hover {
    background-image: url("../Image/DORAEMON.jpg");
}

.master_header_label {
    font-size: 48px;
    color: #ffffff;
    text-shadow: 0px 0px 8px rgba(0,0,0,0.9);
}
.master_header_label2 {
    font-size: 24px;
    color: #ffffff;
    text-shadow: 0px 0px 8px rgba(0,0,0,0.9);
}

.master_nav {

    /*background-color: #6ea2ff;*/
    background-color: #000000;
    /*background-color: rgba(0,0,0,0.9);*/
    padding: 5px 20px;
    text-align: center;
    /*box-shadow: 0px 0px 32px rgba(56,168,0,0.5);*/
    

}

.master_nav ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
 }

.master_nav li {
    display: inline;
}

.master_nav a {
    text-decoration: none;
    display: inline;
    padding: 10px 20px;
    margin: 0;
    width: 60px;

    color: #c0c0c0;
    background-color: #000000;
    text-shadow: 0px 0px 0px #000000;
    transition: color 0.5s ease, background-color 0.5s ease, text-shadow 0.5s ease;
    
}


.master_nav a:hover {
    color: #ffffff;
    /*background-color: #1a8800;*/
    background-color: #cc2939;
    text-shadow: 1px 1px 16px #ffffff;
}


@keyframes key_master_nav_a_in {
    from {
        color: #808080;
        background: #000000;
        text-shadow: 0px 0px 0px #000000;
    } 
    to {
        color: #ffffff;
        background: #202020;
        text-shadow: 1px 1px 2px #404040;
    }
}
@keyframes key_master_nav_a_out {
    from {
        color: #ffffff;
        background: #202020;
        text-shadow: 1px 1px 2px #404040;
    } 
    to {
        color: #808080;
        background: #000000;
        text-shadow: 0px 0px 0px #000000;
    }
}

/*-START-A--------------------------------*/
.master_nav ul ul {
    display: none;
}

.master_nav ul li:hover > ul {
	display: block;
}
.master_nav ul {

	padding: 5px 20px;

	list-style: none;
	position: relative;
	display: inline-table;
}
.master_nav ul:after {
	content: "";
    clear: both;
    display: block;
}
.master_nav ul li {
	float: left;

}
.master_nav ul li:hover .nav_a {
	color: #808080;
}

.master_nav ul li .nav_a {
	display: block;
    padding: 1px 20px;
	color: #000000;
    text-decoration: none;
}
.master_nav ul ul {
	background: #ffffff;
    border-radius: 0px;
    padding: 0;
	position: absolute;
    top: 100%;
}
.master_nav ul ul li {
	float: none; 
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a;
	position: relative;

}
.master_nav ul li ul li .nav_a {
    width: 160px;
}
.master_nav ul ul li .nav_a {
	padding: 10px 20px;
	color: #fff;
    background-color: #000000;
}	
.master_nav ul ul li .nav_a:hover {
    color: #ffffff;
    background: #cc2939;
    text-shadow: 1px 1px 2px #404040;
}
.master_nav ul ul ul {
	position: absolute;
    left: 100%;
    top:0;
}

/*-END-A------------------------------------*/



.master_footer {
    /*background: linear-gradient(#ffaf22, #ffc051);*/
    background-color: #202020;
    text-align: center;
    /*box-shadow: 0px 0px 16px #c0c0c0;*/
    /*box-shadow: 0px 0px 8px #000000;*/
    padding: 10px 20px;
    /*background-image: url("../Image/bg4.jpg");
    background-position: center;
    background-attachment: fixed;*/
    /*background-size: 100% auto;*/
    
}
.master_footer_label {
    font-size: 18px;
    color: #c0c0c0;
    text-shadow: 1px 1px 1px #000000;
}
.master_footer_label2 {
    font-size: 14px;
    color: #a0a0a0;
    text-shadow: 1px 1px 1px #000000;
}
.master_footer_label3 {
    font-size: 14px;
    color: #909090;
    text-shadow: 1px 1px 1px #000000;
}
.master_footer_label4 {
    font-size: 14px;
    color: #ffcc00;
    text-shadow: 1px 1px 1px #000000;
}


.dpl {
    background-color: #2270ff;
}
.dpl2 {
    background-color: #e0e0e0;
}
.dpl3 {
    background-color: #000000;
}
.dpl_green {
    background-color: #38a800;
}
.dpl_red {
    background-color: #ff0000;
}
.dpl_sred {
    background-color: #cc2939;
}
.dpl_sub_lime {
    background-color: #d6ff81;
}
.dpl_gray {
    background-color: #808080;
}
.dpl_blue {
    background-color: #00a2e8;
}
.dpl_7c {
    background: linear-gradient(to right, rgb(163,73,164),rgb(63,72,204),rgb(0,162,232),rgb(34,177,76),rgb(255,242,0),rgb(255,127,39),rgb(237,28,36));
}



.footer, .push {
    height: 100px; /* .push must be the same height as .footer */
}

.master_default_button {
    text-decoration: none;
    display: inline;
    padding: 3px 20px;
    margin: 0 0px;
    margin-top: 5px;
    width: 60px;
    color: #c0c0c0;
    background-color: #000000;
    text-shadow: 0px 0px 0px #000000;
    border-radius: 24px;
    transition: color 0.5s ease, background-color 0.5s ease, text-shadow 0.5s ease;
}

.master_default_button:hover {
    color: #ffffff;
    background-color: #cc2939;
    text-shadow: 1px 1px 16px #ffffff;
}
.master_OAT_button {
    background-color: rgba(0, 114, 255, 0.90);
    background-repeat:repeat-x;
    border:1px solid #d1c7ac;
    text-shadow: 0px 0px 0px #000000;
    width: 60px;
    color: #ffc300;
    padding:3px;
    margin-right:4px;
    margin-bottom:8px;
    font-family:tahoma, arial, sans-serif;
    border-radius:10px;
    transition: color 0.5s ease, background-color 0.5s ease, text-shadow 0.5s ease;
}
.master_OAT_button:hover {
    color: rgb(0, 68, 255);
    background-color: #2edce8;
    text-shadow: 1px 1px 16px #ffffff;
}