.Salary_div{
    border-radius: 5px;
    background-image:url(../Image/bg2.jpg);
    background-size:cover;
}

.Salary_div_header{
    color:white;
    background-color: rgba(40,40,40,0.8);
    border-radius: 5px 5px 0px 0px;
}

.Salary_div_in{
    color:white;
    box-shadow:5px 10px none;
    background-color: rgba(60,60,60,0.6);
    border-radius: 0px 0px 5px 5px;
    text-shadow: 7px 3px 10px #000000;
}
