.wrapper {
    width: unset;
}

.pan {
    padding: 20px;
    background-color: #202020;
}

#sec1 {
    background-image: url("../Image/books.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#sec2 {
    background-image: url("../Image/papers.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.login_button_div ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 8px;
}

.login_button_div li {
    display: inline;
}

.cen {
    text-align: center;
}

.cen2 {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #808080;
}

.leave_grid_view {
    margin: 0 auto;
    text-align: center;
    border: 1px solid #808080;
    width: 90%;
}

.leave_sec2 {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #808080;
}

.bold {
    font-weight: bold;
}

.auto-style14 {
    width: 293px;
}

.auto-style15 {
    width: 150px;
    text-align: right;
    padding-right: 5px;
    height: 28px;
}

.auto-style16 {
    width: 293px;
    height: 28px;
}

.auto-style19 {
    width: 150px;
    text-align: right;
    padding-right: 5px;
    height: 33px;
}

.auto-style20 {
    width: 293px;
    height: 33px;
}

.auto-style25 {
    width: 150px;
    text-align: right;
    padding-right: 5px;
}
